
p{
  font-size:40px;
  text-align:center;
}
p.ex{
  font-size:40px;
  font-weight:bold;
  color:#EE0000;
  text-align:left;

}


ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #1b2538;
}
li {
  float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
  border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 40px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #993300;
}


body {
  color: black;
  font-family:Meiryo;
  font-size:20px;
  background-color:#FFFFFF;
  border:20px #FFA07A solid;
  margin:0px;

}


div.shop{
  background:#EEEEEE;
  width: 80%;
  margin:3% 5%;
  padding:2% 5%;
 
  }

p.shop {
  font-size: 35px;
  font-weight:bold;
  text-align:center;
}

p.intro{
  font-size: 25px;
  text-align: center;
}

img {
  
  right:45px;
  bottom:45px;

  width: 280px;
  height:210px;
}

div.photo{
  text-align: center;
}

table td{
  padding:1px 15px;

}