
p{
  font-size:40px;
  text-align:center;
}


ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #1b2538;
}
li {
  float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
  border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 40px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #993300;
}


body {
  color: black;
  font-family:Meiryo;
  font-size:20px;
  background-color:#FFFFFF;
  border:20px #FFA07A solid;
  margin:0px;

}


div.shop{
  background:#EEEEEE;
  width: 80vw;
  margin:auto;
  padding:30px 40px;
  position:relative;
  }

p.shop {
  font-size: 30px;
  font-weight:bold;
  text-align:left;
}

img {
  position:absolute;
  right:45px;
  bottom:45px;

  width: 280px;
  height:210px;
}



table td{
  padding:1px 15px;

}